header
{
width: 100%;
height: 60px;
background-color: blue;
display: flex;
margin-top: 50px;
box-shadow: 2px 2px 2px 2px;
display: flex;

}
*
{
    margin: 0;
    padding: 0;
}
a
{
    text-decoration: none;
    font-size: 20px;
    color: white;
}
nav
{
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 50px;
    width: 70%;
}
.logo
{
    background-color: blue;
    height: 150px;
    width: 150px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    box-shadow: 0px 4px 4px ;
    display: flex;
}
img
{
    width: 150px;
    height: 150px;
}
input
{
    height: 35px;
    display: flex;
    width: 400px;
    border-radius: 50px;
    margin-top: 10px;
}
input::placeholder
{
    font-size: 25px;
    text-align: center; 
}
main
{
    display: flex;
}
.mbape {
    display: flex;
    flex-direction: column;  
    width: 900px;
}

.mbape img {
    width: 100%;
    height: 500px;
    display: flex;
}

.mbape p {
    text-align: left;
    font-size: 40px;
    background-color: blue;
    color: white;
}

.hat
{
    display: flex;
    margin-top: 500px;
    margin-left: 0;
}
.Mbappe
{
    height: 600px;
}

body {
    margin: 0;
}

.container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
     flex-wrap: wrap;
}


.mainbir {
    width: 65%;
      display: flex;
    flex-wrap: wrap;
}

.mainikki {
    width: 30%;
    height: 590px;
    flex-direction: column;
    display: flex;
    gap: 16px;

}

.q
{
    background-color: rgba(9, 91, 232, 0.193);

}
.mp
{height: 57px ;
width: 80px;
margin-left: 0px;
margin-top: 1px;
float: left;}

p
{
    color: white;
}
.samakm
{
    width: 370px;
    height: 70px;
    background-color: blue;
    text-align: center;
    align-items: center;
    display: flex;
}
.w
{
    width: 100px;
    display: flex;
    margin-top: 5px ;
    margin-left: 10px;
    
}
.r
{
    width: 70px;
    margin-left: 10px;
    margin-top: 6px;

} 
.mainuch
{
    width: 100%;
    height: 500px;
      
}
.swe
{
    width: 300px;
    height: 300px;
      border: 5px solid blue;
}
.swelar
{
     display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.swlar
{
     display: flex;
    justify-content: space-evenly;
    align-items: center;
     color: white;
     height: 50px;
}
.sw
{
        width: 310px;
background-color: blue;
     height: 40px;
    justify-content: center;
    align-items: center;
     display: flex;
}